@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />

    <h3>Eyüp İstanbul</h3>
    <br />
    <h3>E-posta adresimiz:</h3>
    <h3><a href="halil3443@gmail.com">halil3443@gmail.com</a></h3>
</div>